/* Reset Margins  & Fonts */
* {
  margin: 0;
}

body {
  font-family: "Ageo Personal Use", sans-serif;
}

h1 {
  font-weight: 850;
}

h2 {
  font-weight: 700;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

p,
a {
  font-weight: 500;
}

/* Repeated Headings */

.medium-heading {
  font-size: 52px;
  line-height: 28px;
  color: #0b1b35;
}

.small-grey-heading {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.45em;
  color: #8a898e;
  margin: 0 0 19px 0;
}

/* Containers */

.base-container {
  display: flex;
  margin-right: 135px;
  margin-left: 135px;
}

.container {
  display: flex;
}

/* Repeated Button */

.orange-button {
  background-color: #ff6600;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  line-height: 28.5px;
  text-decoration: none;
  color: #ffffff;
}

/* Navbar Section */

#navbar {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#navbar img {
  width: 240px;
}

#navbar .orange-button {
  padding: 10px 30px;
}

.nav {
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.nav:hover {
  font-weight: bold;
}

.nav:before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav.menu {
  gap: 40px;
}

.nav.login {
  align-items: center;
  gap: 22px;
}

/* Get Started Section */

#info {
  flex-wrap: wrap;
}

#info .orange-button {
  padding: 11px 34px 9px;
}

.info-text {
  width: 50%;
  margin-top: 114px;
}

.info-text h1 {
  font-size: 70px;
  line-height: 81px;
  color: #0b1b35;
  margin-bottom: 16px;
}

.info-text p {
  font-size: 22px;
  line-height: 28.5px;
  margin-bottom: 66px;
}

.info-image {
  width: 50%;
  height: 618.09px;
}

/* Features Section */

#features {
  flex-direction: column;
  text-align: center;
  margin-bottom: 181.01px;
}

#features .orange-button {
  padding: 11px 36px 9px;
}

.features-text {
  margin: 83.91px 0 108px;
}

.features-cards {
  gap: 57px;
}

.features-item {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 28px;
  justify-content: space-between;
}

.features-item i {
  margin: 30.53px 138px 41px;
}

.features-content {
  margin: 0 41px 45px;
}

.features-content h2 {
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 32px;
}

.features-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

/* Video Section */

#video {
  margin-bottom: 146.01px;
}
.video-text {
  flex-direction: column;
}

.video-title {
  margin: 17.13px 159.22px 0 0;
}

.video-title h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  margin-bottom: 20.51px;
}

.video-title p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 120px;
}

.white-button {
  border: 2px solid #ebeaed;
  background-color: #fff;
  border-radius: 100px;
  width: 57px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  color: #1e0e62;
  padding: 13px 38px;
  margin: 25px 0;
}

.video {
  position: relative;
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  background: #482be7;
  border-width: 0;
}

.video-play i {
  color: #fff;
  padding: 35px;
}

/*Testimonials Section */

#testimonials {
  flex-direction: column;
  text-align: center;
  margin-bottom: 142px;
}

.testimonials-title {
  margin-bottom: 101px;
}

.testimonials-table {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.testimonials-item {
  position: relative;
  width: 40%;
  height: 237px;
  align-items: flex-start;
}

.testimonials-image {
  margin: 30px 0 30px 30px;
}

.testimonials-item-text {
  text-align: left;
  margin: 30px;
}

.testimonials-item-text h3 {
  font-size: 18px;
  line-height: 28px;
}

.testimonials-item-text h4 {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0b1b35;
  opacity: 0.3;
  margin-bottom: 23px;
}

/* About Us Section */

#about-us {
  flex-direction: column;
  text-align: center;
  margin-bottom: 63px;
}

.about-us-title {
  margin-bottom: 53px;
}
.about-us-table {
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}
.about-us-item {
  width: 33.3%;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ebeaed;
  border-radius: 10px;
}

.about-us-image {
  margin-top: 50px;
}

.about-us-item h3 {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  margin-top: 28.8px;
}

.about-us-item h2 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 16.2px;
}

.about-us-social-table {
  width: 100%;
  justify-content: space-between;
  margin-top: 35px;
}

.about-us-icon-box {
  width: 33.3%;
  color: rgba(21, 20, 57, 0.4);
  border-top: 2px solid #ebeaed;
}

.twitter-box {
  border-right: 2px solid #ebeaed;
}

.dribbble-box {
  border-left: 2px solid #ebeaed;
}

.about-us-icon {
  font-size: 22px;
  color: rgba(21, 20, 57, 0.4);
  padding: 16.8px 47.5px;
}

/* Footer Section */

#footbar {
  justify-content: space-between;
  margin-bottom: 31px;
}

.footbar-logo-rights {
  align-items: center;
  gap: 90px;
}
.footbar-logo {
  width: 111px;
}

.footbar-menu {
  align-items: center;
  gap: 39px;
}

.footbar-menu a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1e0e62;
}

.footbar-hr {
  opacity: 0.5;
  border: 2px solid #ebeaed;
  margin-bottom: 40px;
}

.footbar-end-text {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 57px;
}
